#elemCharactersContainer, #elemFriendly, #elemEnemyChosen, #elemEnemyContainer, #elemNewGameContainer, .characterCard {
  padding: 10px;
}

#elemFriendly {
  display: table-cell;
}
#elemEnemyChosen {
  display: table-cell;
}

#elemNewGameContainer {
  border: 1px #000 solid;
}




#elemCharactersContainer {
  border: 1px #000 solid;
  display: table;
}
#elemFriendlyContainer {
  display: table-row;
}
#elemEnemyContainer {
  display: table-row;
}
.characterCard {
  border: 1px #CCC solid;
  display: table-cell;
}
.characterCard:hover {
  background: #CCC;
}
.characterImage {
  display: block;
}
