#elemCharactersContainer, #elemFriendly, #elemEnemyChosen, #elemEnemyContainer, #elemNewGameContainer, .characterCard {
  padding: 10px;
}

#elemCharactersContainer {
  border: 1px #CCC solid;
  display: table;
}
#elemFriendly {
  display: table-cell;
}
#elemEnemyChosen {
  display: table-cell;
}




#elemNewGameContainer {
  border: 1px #000 solid;
}



#elemEnemyContainer {
  visibility: hidden;
}
.characterCard {
  border: 1px #000 solid;
  float: left;
}
