
/**************** START OF COMMON ************************/

#elemNewGameContainer
,#elemCharactersContainer
,#elemFriendlyContainer
,#elemEnemyContainer
,#elemCharactersChosenContainer
,#elemFriendlyChosenContainer
,#elemEnemyChosenContainer
,.infoCard
,.characterCard {
  padding: 10px;
}

/**************** END OF COMMON ************************/

/**************** START OF NEW GAME ************************/

#elemNewGameContainer {
  border: 1px #000 solid;
}

/**************** END OF NEW GAME ************************/

/*******************************************************/
/**************** START OF MAIN ************************/
/*******************************************************/

#elemCharactersContainer, #elemCharactersChosenContainer {
  border: 1px #000 solid;
  display: table;
}
#elemFriendlyContainer, #elemEnemyContainer {
  display: table-row;
}
#elemFriendlyChosenContainer, #elemEnemyChosenContainer, #elemInfoChosenContainer {
  display: table-cell;
}
#elemInfoChosenContainer {
  border: 1px #CCC solid;
}
.infoCard {
  border: 1px #CCC solid;
  display: table-cell;
}
.characterCard {
  border: 1px #CCC solid;
  display: table-cell;
  width: 200px;
  height: 150px;
}
.characterCard:hover {
  background: #CCC;
}

/*******************************************************/
/**************** END OF MAIN ************************/
/*******************************************************/


/**************** START OF MISC ************************/

.greyedOut {
  opacity: 0.5;
}
.greyedOut:hover {
  background-color: inherit;
}

/**************** END OF MISC ************************/
